.fbimg{
    height: 30px;
    
    left: 100px;
    top: 18px;
}
.twimg{
    height: 30px;
   
    left: 150px;
    top: 18px;
}
.instaimg{
    height: 30px;
    
    left: 200px;
    top: 18px;
}
.utubeimg{
    height: 30px;

    left: 250px;
    top: 18px;
}
.whatsappimg{
    height: 30px;
   
    left: 300px;
    top: 18px;
}
